/* Variables */
@import 'functions';

// colors
// 
$main-color: #866ad5;
$main-light-color: #F8F5FE;
$main-light-color-2: #F4EBFE;
$seconday-color: #2b9165;
$secondary-light-color: #ECFEF2;
$black-color: #4D525D;
$grey-color: #717277;
// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);

